
html{
	scroll-behavior: smooth;
}
/*Content #############################################
#######################################################
#######################################################*/
.content {
  position: fixed;
  top: 0;
  left: 0;
  background: #000122;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0;
  animation-name: slideDown;
  animation-duration: 2s;
  z-index: 30;
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hide{
	display: none;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  padding-left: 0px;
  animation-name: slideup;
  animation-duration: 2s;
  margin-bottom: 10px;
  z-index: 30;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-left: 25vw;
  width: 50vw;
  margin-right: 25vw;
  margin-bottom: 0;
}
.hide{
	display: none;
}

.bottom div{
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-content: center !important;
  	padding-top: 10px;
  	cursor: pointer;
  	background-color: #000a12;
  	margin-bottom: 15px;
}


.bottom div:first-child{
  	border-top-left-radius: 15px;
  	border-bottom-left-radius: 15px;

}


.bottom div:last-child{
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.bottom div:hover{
	background-color: #37474f;
}

.icon_skills{
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.icon_detail{
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.text_skills{
	font-size: 1em;
}
.text_detail{
	font-size: 1em;
}
.icon_con{
	margin-left: 17%;
}
.icon_proj{
	margin-left: 5%;
}
.icon_cont{
	margin-left: 9%;
}
.ski{
	margin-left: 5%;
}

/*Media Queries #######################################
#######################################################
#######################################################*/


@media screen and (max-width: 960px){

}

@media screen and (max-width: 800px){
	.bottom{
		margin-left: 20vw;
		margin-right: 20vw;
		width: 60vw;
	}
}

@media screen and (max-width: 760px){
	.bottom{
		margin-left: 15vw;
		margin-right: 15vw;
		width: 70vw;
	}
}

@media screen and (max-width: 600px){
	.bottom{
		margin-left: 10vw;
		margin-right: 10vw;
		width: 80vw;
	}
}
@media screen and (max-width: 500px){
	.bottom{
		margin-left: 5vw;
		margin-right: 5vw;
		width: 90vw;
	}
}
@media screen and (max-width: 460px){
	.bottom div{
		padding: 10px;
	}
}
@media screen and (max-width: 400px){
	.bottom div{
		padding: 5px;
	}
	.icon_skills{
		width: 40px;
		height: 40px;
	}
	.icon_detail{
		width: 40px;
		height: 40px;

	}
	.text_skills{
		font-size: .8em;
	}
	.text_detail{
		font-size: .8em;
	}
}
@media screen and (max-width: 320px){
	.icon_skills{
		width: 30px;
		height: 30px;
	}
	.icon_detail{
		width: 30px;
		height: 30px;

	}
	.text_skills{
		font-size: .7em;
	}
	.text_detail{
		font-size: .7em;
	}
}


@media screen and (max-width: 460px){
	.bottom div{
		padding: 10px;
	}
}
@media screen and (max-width: 400px){
	.bottom div{
		padding: 5px;
	}
	.icon_skills{
		width: 40px;
		height: 40px;
	}
	.icon_detail{
		width: 40px;
		height: 40px;

	}
	.text_skills{
		font-size: .8em;
	}
	.text_detail{
		font-size: .8em;
	}
}
@media screen and (max-width: 320px){
	.icon_skills{
		width: 30px;
		height: 30px;
	}
	.icon_detail{
		width: 30px;
		height: 30px;

	}
	.text_skills{
		font-size: .7em;
	}
	.text_detail{
		font-size: .7em;
	}
}






/*Animation for other page ############################
#######################################################
#######################################################*/

.some{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	width: 100%;
	height: 100%;
}

.first{
	width: 50%;
	height: 100%;
	background-color: blue;
	float: left;
	animation-name: slideup;
	animation-duration: .5s;
}


.second{
	width: 50%;
	height: 100%;
	background-color: white;
	float: left;
	animation-name: slideDown;
	animation-duration: .5s;
}


.showing{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
}


.center_icon{
	position: fixed;
	bottom: 0;
	margin-bottom: 30vh;
	margin-left: 41vw;
	width: 250px;
	height: 250px;
	animation-name: slideupicon;
	animation-duration: .5s;
	width: 250px;
	height: 250px;
}


#okl{
	background-color: #fc4a1a;
}
#ikl{
	background-color: #4abdac;
}

#anim_skill1{
	background-color: #007ab2;
}
#anim_skill2{
	background-color: #002333;
}



#anim_proj1{
	background-color: #fc4a1a;
}
#anim_proj2{
	background-color: #4abdac;
}


#anim_conquest1{
	background-color: #a239ca;
}
#anim_conquest2{
	background-color: #4717f6;
}


#anim_cont1{
	background-color: #813772;
}
#anim_cont2{
	background-color: #b82601;
}


@media screen and (max-width: 960px){

.center_icon{
	margin-bottom: 30vh;
	margin-left: 40vw;
	width: 200px;
	height: 200px;
}
}

@media screen and (max-width: 800px){

.center_icon{
	margin-bottom: 30vh;
	margin-left: 42vw;
	width: 150px;
	height: 150px;
}
}

@media screen and (max-width: 760px){

.center_icon{
	margin-bottom: 30vh;
	margin-left: 42vw;

}
}

@media screen and (max-width: 600px){
	.center_icon{
	margin-bottom: 42vh;
	margin-left: 42vw;
	width: 100px;
	height: 100px;
}
}
@media screen and (max-width: 500px){
	.center_icon{
	/* margin-bottom: 3vh; */
	margin-left: 42vw;
}
}
@media screen and (max-width: 460px){
	.center_icon{
	/* margin-bottom: 30vh; */
	margin-left: 40vw;
}
}
@media screen and (max-width: 400px){
	.center_icon{
	/* margin-bottom: 30vh; */
	margin-left: 40vw;
}
}

@media screen and (max-width: 390px){
	.center_icon{
	/* margin-bottom: 30vh; */
	margin-left: 38vw;
}
}
@media screen and (max-width: 380px){
	.center_icon{
	margin-left: 38vw;
	/* margin-bottom: 30vh; */
}
}
@media screen and (max-width: 370px){
	.center_icon{
	/* margin-bottom: 30vh; */
}
}
@media screen and (max-width: 360px){
	.center_icon{
	/* margin-bottom: 30vh; */
	/* margin-left: 17%; */
}
}
@media screen and (max-width: 350px){
	.center_icon{
	/* margin-bottom: 30vh; */
	/* margin-left: 16%; */
}
}
@media screen and (max-width: 340px){
	.center_icon{
	/* margin-bottom: 30vh; */
	/* margin-left: 15%; */
}
}
@media screen and (max-width: 330px){
	.center_icon{
	/* margin-bottom: 30vh; */
	margin-left: 36vw;

}
}
@media screen and (max-width: 320px){
	.center_icon{
	/* margin-bottom: 30vh; */
	/* margin-left: 12.5%; */
}
}

/*Animation Definition ################################
#######################################################
#######################################################*/


@keyframes slideupicon {
	0% {
		transform: translateY(200%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideupicon {
	0% {
		transform: translateY(200%);
	}
	100% {
		transform: translateY(0%);
	}
}




@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}



@keyframes slideup {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideup {
	0% {
		-webkit-transform: translateY(100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}





/*Stars Animation*/


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:700%;
  height:100%;
  display:block;
}

.stars {
  background:transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:20;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:10;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/*############### Details CSS #####################################*/



.stars{
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;

}




.anim{
	animation-name: slideDownl;
	animation-duration: .5s;
	animation-delay: 1s
}


.anim2{
	animation-name: slideupl;
	animation-duration: .5s;
	animation-delay: .5s;
}


.anim_detail{
	animation-name: slideupiconl;
	animation-duration: .5s;
}




@keyframes slideDownl {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@-webkit-keyframes slideDownl {
	0% {
		-webkit-transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(-100%);
	}
}



@keyframes slideupl {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}

@-webkit-keyframes slideupl {
	0% {
		-webkit-transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(100%);
	}
}





@keyframes slideupiconl {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(200%);
	}
}

@-webkit-keyframes slideupiconl {
	0% {
		-webkit-transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(200%);
	}
}






/*Custom CSS*/

.projects{
	position: absolute;
	top: 0;
	left: 0;
	width: 700%;
	height: 100%;
	background: transparent;
	z-index: 22;

}


.proj1{
	position: relative;
	top: 0;
	left: 0;
	width: 14.28%;
	height: 100%;
	background: transparent;
}




.proj2,.proj3,.proj4,.proj5,.proj6,.proj7{
	position: absolute;
	top: 0;
	left: 14.28%;
	width: 14.28%;
	height: 100%;
	background: transparent;
}


.proj3{
	left: 28.56%;
}

.proj4{
	left: 42.84%;
}

.proj5{
	left: 57.12%;
}


.proj6{
	left: 71.4%;
}

.proj7{
	left: 85.68%;
}


.proj1_video{
	padding-left: 5%;
	padding-top: 7%;
	width: 70%;
	height: 75%;
}


.proj1_video video{
	width: 60vw;
	height: 30vw;
}


.proj1_content{
	position: absolute;
	background: rgba(105,105,105,0.5);
	width: 30%;
	height: 60%;
	top: 0;
	left: 65%;
	margin-top: 7%;
	margin-left: 2%;
	box-shadow: 0 0 5px white;
	animation: boxanim;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}


.proj1_header{
	color: white;
	padding: 10px;
	display: grid;
	justify-content: center;
}



.proj1_ul li{
	color: white;
	line-height: 30px;
}

.proj1_link{
	display: grid;
	justify-content: center;
}

.proj1_link div img{
	width: 5vw;
	height: 5vw;
	cursor: pointer;
}



.proj1_next{
	position: absolute;
	top: 85%;
	left: 85%;
}


.proj1_next img{
	width: 5vw;
	height: 5vw;
}



.proj1_prev{
	position: absolute;
	top: 85%;
	left: 10%;
}


.proj1_prev img{
	width: 5vw;
	height: 5vw;
	transform: scaleX(-1);
}

@keyframes boxanim{
	0%{
		box-shadow: 0 0 5px white;
	}
	50%{
		box-shadow: 0 0 15px white;
	}
	100%{
		box-shadow: 0 0 5px white;
	}
}





@media screen and (max-width: 1200px){
	.proj1_video video{
		width: 55vw;
		height: 30vw;
	}
	.proj1_content{
		margin-top: 8%;
	}

	.proj1_content li{
		font-size: 15px;
		line-height: 25px;
	}
}


@media screen and (max-width: 1100px){
	.proj1_video video{
		width: 55vw;
		height: 30vw;
	}
}


@media screen and (max-width: 900px){
	.proj1_content li{
		font-size: 13px;
		line-height: 20px;
	}

	.proj1_content{
		margin-top: 10%;
		height: 60%;
	}


	.proj1_video{
		padding-top: 10%;
	}
}



@media screen and (max-width: 600px){
	.proj1_content{
		top: 35vw;
		left: 0;
		margin-left: 5vw;
		width: 90%;
		height: 30%;
	}


	.proj1_content li{
		font-size: 10px;
		line-height: 12px;
	}


	.proj1_video video{
		width: 60vw;
		margin-left: 15vw;
	}

	.proj1_next{
		top: 20%;
	}

	.proj1_prev{
		top: 20%;
	}

}


@media screen and (max-width: 500px){
	.proj1_video video{
		padding-top: 13%;
		padding-left: 0;
		height: 40vw;
	}


	.proj1_content{
		top: 45vw;
	}

	.proj1_next{
		top: 22%;
	}

	.proj1_prev{
		top: 22%;
	}
}


@media screen and (max-width: 400px){
	.proj1_next{
		top: 20%;
	}

	.proj1_prev{
		top: 20%;
	}
}


@media screen and (max-width: 350px){
	.proj1_video video{
		padding-top: 20%;
		height: 60vw;
	}
	.proj1_next{
		top: 25%;
	}
	.proj1_prev{
		top: 25%;
	}
	.proj1_content{
		top: 65vw;
	}
}



.content{
	width: 100%;
}
